<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fraud Detection System{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dataset">Dataset</a></li>
                <li><a href="/create_transaction">Create Transaction</a></li>
                <li><a href="/transaction_history">Transaction History</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>
        </nav>
    </header>
    <main class="content">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Adey Innovations Inc. All rights reserved.</p>
    </footer>
</body>
</html>