{% extends "layout.html" %}

{% block title %}Home - Fraud Detection Application{% endblock %}

{% block content %}
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 50vh;">
        <h2 style="font-size: 40px; color: white; text-align: center; font-family: 'Microsoft JhengHei UI Light';">
            Improved Detection of Fraud Cases for E-commerce and Bank Transactions
        </h2>
        <p style="font-size: 18px; color: white; text-align: center; max-width: 800px; margin: auto; font-family: 'Microsoft JhengHei UI Light';">
            Welcome to our Fraud Detection Application, developed to secure e-commerce and banking transactions. This application will analyze and preprocess transaction data, identifying patterns of fraudulent activity through engineered features.
            By utilizing advanced machine learning models, we will detect fraud in real-time and continuously evaluate and improve their performance. A robust monitoring system will ensure adaptability to new fraud tactics.
            Through these efforts, we aim to enhance security and foster trust among consumers and businesses, reflecting Adey Innovations Inc.'s commitment to high standards of safety.
        </p>
    </div>
{% endblock %}