body {
    background-image: url('../static/bank_background.jpeg');
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #FFD700; /* Gold */
    text-decoration: none;
}

h1.title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}

.introduction {
    text-align: center;
    font-size: 24px;
    margin: 20px;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 50px auto;
}

.form-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #FFD700; /* Gold */
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #FFC107; /* A lighter gold on hover */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    bottom: 0;
    width: 100%;
}